rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{messageId} {
      allow write, read: if request.auth !=null; //jika authentikasi berhasil dapat melakukan write & read database dan jika tidak sebaliknya
    }
  }
}